* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
  padding-bottom: 50px;
}

header {
  background: #7e2dff;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

h2 {
  margin-top: 40px;
  text-align: center;
  color: #111;
}

section {
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.skills-container span {
  background: #111111;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.projeto {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
}

.projeto a {
  display: inline-block;
  margin-top: 10px;
  background: #aa1afd;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background: #111;
  color: white;
}
